/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ead0b1; /*change color */
}

main {
  margin: 2rem;
}

header h2 {
  padding: 0 0 0 7rem;
  font-size: 2.5rem;
}

header {
  padding: 2rem 1rem;
  background-color: aqua; /*change color */
  display:flex;
  justify-content: space-between;
  align-items: center;

}

header img {
  height: 50px;
  border-radius: 10px;
}

header nav ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

header nav ul li a {
  font-size: 1rem;
  color:black; /*change color */
  text-decoration: none;
  font-weight:700;
}

header nav ul li a:hover {
  color: white; /*change color */
  text-decoration:underline;
}


.containerone {
  display: flex;
  /* margin-bottom: 22rem; */
  flex-wrap: nowrap;
  justify-content: center;
  align-self: center;
  min-width: 1200px;
  max-width: 800px;
  background-color: #daf5cf; /* change color */
  margin: auto;
  border: 2rem solid /*insertcolor*/;
  border-color: #daf5cf; /*change color*/
  
}

.containerone img {
  align-self: stretch;
}

.heroimg {
width: 300px;
height: 100%;
object-fit: cover;
object-position: center;
}


.containeronecontent {
display: flex;
align-items: center;
flex-direction:column;
justify-content: space-between;
flex: 1;
padding: 0 0 1.5rem 1rem;
/* text-align: center; */
}

.productdescrip {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  background-color: aquamarine; 
}
 /*below is the products */

 .blackpen {
  box-sizing: content-box;
  float: left;
  border: 1px solid black;
  width: 600px;
  background-color:#a8dadcff;
  padding: 2rem;
}

.bluepenimg {
  width: 600px;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}

.bluepenbutton {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.buttonone {
  display: inline-block;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  background-color: chartreuse;
  color: black; /*change color*/
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 15px;
  padding: 7px;
}

.buttonone:hover {
  background-color: aqua; /*change color */
}

/* black pen */

.bluepen {
  box-sizing: content-box;
  width: 600px;
  padding: 2rem;
}


.blackpenimg {
  width: 600px;
  justify-content: center;
  align-self: center;
  padding: 1rem;
}

.blackpenbutton {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.buttontwo {
  display: inline-block;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  background-color: chartreuse;
  color: black; /*change color*/
  font-size: 1.2rem;
  font-weight: 800;
  border-radius: 15px;
  padding: 7px;
}

.buttontwo:hover {
  background-color: aqua; /*change color */
}